<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>

        </title>

        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>

    <body style="background-color: rgb(86,205,153);">
        <img src="{{url_for('static', filename='/images/2022.gif')}}" class="center img-responsive" style='width:90%'>
        <div class="container-fluid">
            <div style="padding:20px"></div>
            
            <h1 class="col-12" style="font-family: 'Brush Script MT', cursive; font-size: 50px; color:blue">
                Promise Verse
            </h1>
            <div style="padding:10px"></div>
            <div class="row col-12 text-center">
                <h2>
                    No of People:
                </h2>
            </div>
                
            <input id="ppl" class="form-control" type="text" style="size: 10px; width: 70%;" placeholder="no of people">
            <button onClick="GFG_Fun()" type="button" class="btn btn-info">Click Here</button>
            <div id='divFam'>

            </div>
            <div style="padding:30px"></div>
                 

            <p id="GFG_DOWN"></p>
            <script>
                var down = document.getElementById("GFG_DOWN");
                function GFG_Fun() {
                    var x = document.getElementById("ppl").value;
                    if(x!=0){
                        // Create a form synamically
                    var form = document.createElement("form");
                    form.setAttribute("method", "post");
                    form.setAttribute("action", "promise_verse");
    
                    for(var i=0; i<parseInt(x); i++){
                        var k = i.toString()
                        console.log(k);
                        var k = document.createElement("input");
                        k.setAttribute("type", "text");
                        k.setAttribute("name", 'Per'+i);
                        k.setAttribute("placeholder", "Enter name "+(i+1));
                        // Append the email_ID input to the form
                        form.append(k);
                    }
                    // Create an input element for emailID
    
                    // Create a submit button
                    var s = document.createElement("input");
                    s.setAttribute("type", "submit");
                    s.setAttribute("value", "Submit");
                    
                    // Append the button to the form
                    form.append(s);
    
                    document.getElementById("divFam").appendChild(form);
                    }
                    setCookie("Per1","Check it", 365);
                }

                /// Writing for cookies
                function setCookie(cname,cvalue,exdays) {
                    const d = new Date();
                    d.setTime(d.getTime() + (exdays*24*60*60*1000));
                    let expires = "expires=" + d.toUTCString();
                    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
                }

                function getCookie(cname) {
                    let name = cname + "=";
                    let decodedCookie = decodeURIComponent(document.cookie);
                    let ca = decodedCookie.split(';');
                    for(let i = 0; i < ca.length; i++) {
                        let c = ca[i];
                        while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                        }
                    }
                    return "";
                }

                function checkCookie() {
                    let user = getCookie("Per1");
                    if (user != "") {
                        window.location.href = "{{url_for('promise_verse')}}";
                    } else {
                        // user = prompt("Please enter your name:","");
                        // if (user != "" && user != null) {
                        // setCookie("username", user, 30);
                        // }

                    }
                }
                window.onload=checkCookie();
            </script>       
        </div>
    </body>
</html>